@media only screen and (max-width: 768px) {
 .nombre{
 	width: 30rem;
 	padding-top: 10rem;

 }
 .about1, .about2{
 	width: 100%;
 }
.abouttext{
	padding-top: 10rem;
}

 .sr-only, .icon-bar{
 	background-color: white;
 	width: 100%;
 }
.navbar-collapse{  
 	background-color: white;
 	width: 100%;
 	border:none;
 	text-align: center;
 	height: 100vh;
 	color:white;
 }
 .navbar-color {
	height: 100vh;
}
.navbar-default .navbar-nav>li>a{
	margin-top:5rem;
	font-size: 20px;
	color: white;
}


.caption-style-4 img{
	width: 40rem;
	align-content: center;
	text-align: center;
}

.interes{
	width: 70%;
}
.habilidad-one{
	height: 100vh;
}
.habilidad-two{
	padding: 0;
}
.pwork{
	padding: 1px;
}

.coloredsd{
		font-size: 10px;
		color:white;
		cursor: pointer;
		margin-left: 0;
	}

	.listaprograms {
	}
	.listaprograms li{
		margin-left: 1rem;
	}
	.listaprograms li a {
		padding: 0 50px 0 1px;
}

.habilidad-one{
	background-color: whitesmoke;
	padding:10px;
}
.titleabout{
    margin-top: 5rem;
	}
#contacto{
	height: 150vh;
}
.listfooter li a .iconsfooter{
	color: white;
	font-size: 10px;
	margin-left: 1rem;
}	

}